.scoreboard {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

.player-button {
  background-color: #21262D;
  /* border: none; */
  border-radius: 0.5em;
  font-size: 2vh;
  color: #C9D1D9;

  width: 30%;
}

.active {
  background-color: #59A6FF;
  color: white;
}

.player-button-content {
  display: flex;
  padding: 0.5em 1em;
}

.player-token {
  flex: 1;
  text-align: left;
}

.player-wins {
  flex: 1;
  text-align: right;
}
