@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

body {
  background-color: #0D1116;
  box-sizing: border-box;
  color: #C9D1D9;
  display: flex;
  font-family: Nunito Sans, sans-serif;
  justify-content: center;
}

header {
  /* background-color: coral; */
  padding: 24px;
}

header > h1 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  background-color: #161B22;
  border: 1px solid #C9D1D9;
  border-radius: 0.4em;
  height: 8em;
  margin: 4px;
  width: 8em;
}

.cell:active {
  background-color: #8A949E;
  border: 1px solid #8A949E;
}
