@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

body {
  background-color: #0D1116;
  box-sizing: border-box;
  color: #C9D1D9;
  display: flex;
  font-family: Nunito Sans, sans-serif;
  justify-content: center;
}

header > h1 {
  font-size: 5vh;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  align-items: center;
  background-color: #161B22;
  border: 0.025em solid #C9D1D9;
  border-radius: 0.4em;
  display: flex;
  font-size: 10vh;
  height: 2.5em;
  justify-content: center;
  margin: 0.1em;
  width: 2.5em;
}

.cell:active {
  background-color: #8A949E;
  border: 0.025em solid #8A949E;
}
